<h2>Confirm...</h2>

<div class="block1">
  <form action="/save">
    <div class="display_results">
      <input type="hidden" name="table" value="<%= @table %>">
      <% @info.each do |key, value| %>
        <% if key.is_a?(String) %>
          <p><%= key %>: <%= value %></p>
        <% end %>
      <% end %>
      <input type="submit">
      <input type="button" name="Back" onclick="javascript:history.back()" value="Back">
    </div>
  </form>
</div>