<h2><%= @title %></h2>

<% @results.each do |object| %>
  <div class="display">
    <% object.instance_variables.each do |attribute| %>
      <% snip = attribute.to_s.delete("@") %>
      <p><%= snip %>: <%= object.send(snip) %></p>
    <% end %>
  </div>
<% end %>