<h2>Edit...</h2>


<div class="block1">
  <div class="new_form">
    <form action="/confirm">
        <% session[:fields].each do |x| %>
        <p><%= "#{x}" %>: <input type="text" name="<%= x %>" value="<%= @object.send(x) %>"><p>
        <% end %>
      <input type="submit">
    </form>
  </div>
</div>