
<div class="main_event">
  <h3>Next Reel Bad Night</h3>
  <p>All of your cool MAIN event info goes here!</p>
</div>

<div class="prev_event">
  <h3>Previous Reel Bad Night</h3>
  <p>All of your cool PREVIOUS event info goes here!</p>
</div>