<!DOCTYPE html>
<html>
  <head>
    <title>A Reel Bad Night</title>
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css" media="screen" title="no title" charset="utf-8">

    
  </head>
  
  <body>
    <div class="nav_column">
      <div class="nav_menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li>Search...
          <ul>
            <li><a href="/search/e">Events</a></li>
            <li><a href="/search/p">Patrons</a></li>
            <li><a href="/search/d">Drinks</a></li>
            <li><a href="/search/f">Films</a></li>
          </li>
        </ul>
      </div>
    </div>
    <div class="admin_column">
      <ul>
        <li><a>Admin stuff</a></li>
        <li><a>Moar admin stuff</a></li>
      </ul>
    </div>
    <div class="banner">
      <h1>A Reel Bad Night</h1>
    </div>
    <div class="display">
      <%= yield %>
    </div> 
  </body>
    
<html>