<!DOCTYPE html>
<html>
  <head>
    <title>A Reel Bad Night</title>
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="screen" title="no title" charset="utf-8">

    
  </head>
  
  <body>
    <div class="nav_column">
      <h3><a href="/">Home</a></h3>
      <div class="login_button">
        <h4><a href="/login">Login</a></h4>
      </div>
      <ul>
        <li><a href="/events">Events</a></li>
        <li><a href="/patrons">Patrons</a></li>
        <li><a href="/drinks">Drinks</a></li>
        <li><a href="/films">Films</a></li>
      </ul>
    </div>
    <div class="banner">
      <h1>A Reel Bad Night</h1>
    </div>
    <div class="layout">
      <%= yield %>
    </div> 
  </body>
    
<html>