<h2>Search...</h2>

<div class="search_form">
  <form action="/results">
    <input type="hidden" name="table" value="<%= @table %>">
    <select name="field">
      <% @fields.each do |x| %>
      <option value="<%= x %>"><%= x %></option>
      <% end %>
    </select>
    <input type="text" name="value">
    <input type="submit">
  </form>
</div>