body {
  margin: 2px;
  background-color: black;
}

.nav_column {
  background-color: #AA9739;
  height: 70%;
  width: 20%;
  position: absolute;
  right: 0;
}

.admin_column {
  background-color: #AA8639;
  height: 30%;
  width: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.banner {
  background-color: #AA8639;
  height: 80px;
  width: 80%;
}

.display {
  width: 80%;
}

.block1 {
  background-color: #AA7139;
}

.block1 p {
  color: #FFD4AA;
}

.block1 h3 {
  color: #552A00;
}

.block2 {
  background-color: #AA9739;
}

.block2 h3 {
  color: #554700;
}

.block2 p {
  color: #FFF1AA;
}

.nav_menu {
  
}

h1 {
    padding: 2px;
    color: #553A00;
    text-align: center;
}