<h2><%= @title %></h2>

<div class="display">
  <div class="search_form">
    <form action="/<%= @title.downcase %>/search_results">
      <select name="search_field">
        <% @table.each do |x| %>
          <option value="<%= x %>"><%= x %></option>
        <% end %>
      </select>
      <input type="text" name="value">
      <p><input type="checkbox" name="all" value="yes">Just show me all of 'em.</p>
      <input type="submit">
    </form>
  </div>
</div>