<h2>Logged In!</h2>

<div class="display">
  <form action="/patrons/<%= @user.id %>/show">
    <p><%= @user.username %></p>
    <input type="hidden" value="<%= @user.id %>">
    <input type="submit" value="Go to my Patron Info">
  </form>
</div>